policy_module(utabit, 1.100.1)

########################################
#
# Declarations
#

type utabit_t;
type utabit_exec_t;
init_daemon_domain(utabit_t, utabit_exec_t)

permissive utabit_t;

type utabit_initrc_exec_t;
init_script_file(utabit_initrc_exec_t)

type utabit_conf_t;
files_type(utabit_conf_t)

type utabit_var_lib_t;
files_type(utabit_var_lib_t)

type utabit_var_run_t;
files_type(utabit_var_run_t)

type utabit_port_t;
corenet_port(utabit_port_t)

########################################
#
# utabit local policy
#
allow utabit_t self:process { fork };

allow utabit_t self:fifo_file rw_fifo_file_perms;
allow utabit_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(utabit_t, utabit_conf_t, utabit_conf_t)
manage_files_pattern(utabit_t, utabit_conf_t, utabit_conf_t)

manage_dirs_pattern(utabit_t, utabit_var_lib_t, utabit_var_lib_t)
manage_files_pattern(utabit_t, utabit_var_lib_t, utabit_var_lib_t)
files_var_lib_filetrans(utabit_t, utabit_var_lib_t, { dir file })

manage_dirs_pattern(utabit_t, utabit_var_run_t, utabit_var_run_t)
manage_files_pattern(utabit_t, utabit_var_run_t, utabit_var_run_t)

sysnet_dns_name_resolve(utabit_t)
corenet_all_recvfrom_unlabeled(utabit_t)

allow utabit_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(utabit_t)
corenet_tcp_sendrecv_generic_node(utabit_t)
corenet_tcp_sendrecv_all_ports(utabit_t)
corenet_tcp_bind_generic_node(utabit_t)

gen_require(`
    type utabit_port_t;
')
allow utabit_t utabit_port_t:tcp_socket name_bind;

gen_require(`
    type utabit_port_t;
')
allow utabit_t utabit_port_t:tcp_socket name_connect;

domain_use_interactive_fds(utabit_t)

files_read_etc_files(utabit_t)

miscfiles_read_localization(utabit_t)

sysnet_dns_name_resolve(utabit_t)

allow utabit_t utabit_exec_t:file execute_no_trans;
allow utabit_t self:process setsched;
corecmd_exec_ls(utabit_t)
corenet_tcp_connect_http_port(utabit_t)
dev_read_urand(utabit_t)
fs_getattr_xattr_fs(utabit_t)
kernel_read_system_state(utabit_t)
